<br><br><br><br>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="col-md-12">
			<table class="table">
				<tr>
					<th colspan="2">
						<h1 class="text-center text-primary"><strong>Temario</strong></h1>
					</th>
				</tr>

					<% _.each(capacitaciones, function(capacitacion){ %>
						<tr data-id="<%= capacitacion.id %>" data-model="Capacitaciones">
							<td><h3><%= capacitacion.title %></h3></td>
							<td> <a href="/capacitaciones/show/<%= capacitacion.id %>" class="btn btn-sm btn-success"><h4><span class="glyphicon glyphicon-play"></span></h4></a>
							<a href="/capacitaciones/show/<%= capacitacion.id %>" class="btn btn-sm btn-danger"><h4><span class="glyphicon glyphicon-remove"></span></h4></a>
							</td>
						</tr>
					<% }) %>
				
			</table>
		</div>
	</div>
</div>
