
<div class="container-fluid">
<br><br><br><br>
<% if (typeof login_message!== 'undefined') { %>
<div class="alert alert-danger">
  <p><strong><%= login_message %></strong></p>
</div>
<% } %>
	<div class="row-fluid">
		<div class="col-md-12">
			<div class="jumbotron text-center">
				<h1 class="text-primary"> Hogar y Moda Social </h1>
				<p> Capacitate e informate con Hogar y Moda. </p>
				<a href="/user/new" class="btn text-center btn-lg btn-primary">Registrate!</a>
			</div>
		</div>
	</div>
</div>