<div class="container-fluid">
	<br><br><br>
	<div class="row-fluid">
		<div class="col-md-6">
		<legend>Tu perfil</legend>
		<h3>Nickname: <small><%= user.nickname %> </h1>
		<h3>Nombre: <small><%= user.nombre %></small> </h2>
		<h3>E_Mail: <small><%= user.e_mail %></small> </h3>
		<button type="submit" class="btn center-block btn-primary" id="btn">
			 Editar							 
		</button>
		</div>
	</div>
</div>